config TS5500
	bool "Technologic Systems TS-5500 Single Board Computer support"
	depends on MELAN
  select CHECK_SIGNATURE
	help
	  Add support for the Technologic Systems TS-5500 platform features.

	  If you have a TS-5500, say Y here.

config TS5500_GPIO
	bool "TS-5500 GPIO support"
	depends on TS5500
	default y
	help
	  This enables support for the DIO headers for GPIO usage.

config TS5500_LED
	bool "TS-5500 LED Support"
	depends on TS5500 && LEDS_CLASS
	default y
	help
	  This option enables support for the on-chip LED.

config TS5500_ADC
	bool "TS-5500 ADC"
	depends on TS5500
	help
      Support for the A/D converter on Technologic Systems TS-5500 SBCs.
