config VHOST_NET
	tristate "Host kernel accelerator for virtio net (EXPERIMENTAL)"
	depends on NET && EVENTFD && (TUN || !TUN) && (MACVTAP || !MACVTAP) && EXPERIMENTAL
	---help---
	  This kernel module can be loaded in host kernel to accelerate
	  guest networking with virtio_net. Not to be confused with virtio_net
	  module itself which needs to be loaded in guest kernel.

	  To compile this driver as a module, choose M here: the module will
	  be called vhost_net.

config TCM_VHOST
	tristate "TCM_VHOST fabric module (EXPERIMENTAL)"
	depends on TARGET_CORE && EVENTFD && EXPERIMENTAL && m
	default n
	---help---
	Say M here to enable the TCM_VHOST fabric module for use with virtio-scsi guests
